<section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container" id="container">
    <div class="form-container sign-in-container">
      <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()" >
        <h1>Đăng nhập</h1>
        <input type="text" formControlName="username" placeholder="Tên đăng nhập" maxlength="40"/>
        <input type="password" formControlName="password" placeholder="Mật khẩu" maxlength="40"/>
        <div>
          <input type="checkbox" id="exampleCheck1"  style="width: 10px ;margin-bottom: 0;">
          <label for="exampleCheck1"><span style="font-size: 15px">Nhớ mật khẩu</span></label>
        </div>
        <button class="input_account"  type="submit">Đăng nhập</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Chào mừng bạn quay lại!</h1>
          <p>Bạn đã có tài khoản, đăng nhập bằng tài khoản của bạn</p>
          <button class="ghost" id="signIn">Đăng nhập</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Chào bạn!</h1>
          <p>Nếu bạn chưa có tài khoản, hãy đăng kí và cùng kết nối với mọi người</p>
          <button class="ghost" routerLink="/account/register" id="signUp">Đăng kí</button>
        </div>
      </div>
    </div>
  </div>
</section>

