<div class="row container-fluid">
  <div class="col-lg-12 ">
    <div class="row m-0 p-0">
      <div class="col-lg-1"></div>

      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-4">
            <ul class=" d-flex  d-inline-block">
              <li style="list-style: none; margin-right: 5px"><i style="color: #085C41" class="fa-solid fa-location-dot"></i> Location Shop <span style="color: silver">|</span></li>
              <li style="list-style: none; margin-right: 5px">New <span style="color: silver">|</span></li>
              <li style="list-style: none; margin-right: 5px">Help <span style="color: silver">|</span></li>
              <li style="list-style: none; margin-right: 5px">Blog <span style="color: silver">|</span></li>
            </ul>
          </div>
          <div class="col-lg-3">

          </div>
          <div class="col-lg-5 d-flex justify-content-end m-0 p-0">
            <ul class=" d-flex  d-inline-block">
              <li class="p-0" style="list-style: none; margin-right: 5px"><i style="font-size: 18px; color:rosybrown " class="fa-solid fa-user"></i><a style="margin: 0px 3px">SIGN IN / REGISTER</a><span style="color: silver">|</span></li>
              <li style="list-style: none; margin-right: 5px"><i style="font-size: 16px; color: rosybrown" class="fa-solid fa-heart p-1"></i>WISH LIST <span style="color: silver">|</span></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-1"></div>
    </div>
    <div class="row ">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h5 style="font-family: 'Source Code Pro'; font-size: 45px;color: #085C41">BOOK STORE</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>

  </div>

</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="border-top: 1px solid silver;border-bottom:1px solid silver ;padding: 7px 100px">
  <div class="container-fluid">
    <a class="navbar-brand m-0 p-2 " style="font-size: 15px" href="#">NEW</a><span class="p-2 m-0">|</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active p-2 m-0 " style="font-size: 15px" aria-current="page" href="#"> COMING SOON <span class="p-2 m-0">|</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active p-2 m-0 " style="font-size: 15px" aria-current="page" href="#">BOOK <span class="p-2 m-0">|</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active p-2 m-0" style="font-size: 15px" aria-current="page" href="#">MORE <span class="p-2 m-0">|</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active p-2 m-0" style="font-size: 15px" aria-current="page" href="#">GIFT <span class="p-2 m-0">|</span></a>
        </li>



      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <div class="m-2 d-flex justify-content-end">
        <a href="#"><i style="font-size: 30px; color: #085C41" class="fa-solid fa-basket-shopping"></i> </a>
      </div>
    </div>
  </div>
</nav>



<div class="site-section first-section  mt-3">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center" data-aos="fade">
        <h2 class="site-section-heading text-uppercase text-center font-secondary">Chi tiết sách</h2>
      </div>
      <div class="site-section section-counter">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <p class="mb-5"><img
                src="https://nhasachbaoanh.com/wp-content/uploads/2022/06/100-loi-khuyen-bds.jpg"
                alt="Image" class="img-fluid"></p>
            </div>
            <div class="col-lg-5 ml-auto">
              <h2 class="site-section-heading mb-3 font-secondary text-uppercase">100 Lời Khuyên Đầu
                Tư Bất Động Sản Khôn Ngoan Nhất</h2>
              <ul class="list-unstyled">
                <li><span style="color: red">*</span> Mã sản phẩm: <span
                  style=" color: black">111</span></li>
                <li><span style="color: red">*</span> Tác giả: <span style="color: black">Donald Trump</span>
                </li>
                <li><span style="color: red">*</span> Dịch giả: <span
                  style="color: black">Thi Hoa</span></li>
                <li><span style="color: red">*</span> Nhà xuất bản: <span style="color: black">Dân trí</span>
                </li>
                <li><span style="color: red">*</span> Số trang: <span
                  style="color: black">284</span></li>
                <li><span style="color: red">*</span> Ngày phát hành: <span style="color: black">09-11-2022 </span>
                </li>
              </ul>
              <div class="row">
                <div class="col-lg-12">
                  <div class="counter">
                    <span class="caption">Giá bìa</span>
                    <span class="number">118.000đ</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="counter">
                    <span class="caption">Giá Nhã Nam</span>
                    <a href="#" class="btn btn-primary text-white px-4"><span class="number"
                                                                              style="color: white">94.000đ</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <h1>GIỚI THIỆU SÁCH</h1>
      </div>
    </div>

  </div>
</div>



<footer class="text-center text-lg-start text-white text-muted  " style="background:  #99CCFF">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom bg-light shadow">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <h2 style="font-size: 24px;color: #cbbe73;line-height:
      36px;text-align: center;font-family:Times New Roman Serif;
      font-weight:700;font-style:normal" >Contact With Us </h2>

    </div>

    <div>
      <a href="" class="me-4 text-reset">

        <img style="width: 32px;height: 32px;float: left"
             src="https://furamavietnam.com/wp-content/uploads/2019/06/incon-Facbook-1.png" alt="" width="32" height="32">

      </a>
      <a href="" class="me-4 text-reset">

        <img style="width: 40px;height: 32px;float:
                        left" src="https://furamavietnam.com/wp-content/uploads/2019/06/social-ins.png" alt="" width="40" height="32">

      </a>
      <a href="" class="me-4 text-reset">
        <img style="width: 40px;height: 32px;float:
                        left" src="https://furamavietnam.com/wp-content/uploads/2021/10/social-youtube.png" alt="" width="40" height="32">
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>MORE INFORMATION
          </h6>
          <p>
            1.	Introduction
          </p>
          <p>
            2. Policy
          </p>
          <p>
            3.	Policy Change
          </p>
          <p>
            4.	Payment Policy
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">News</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Regulation</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Work with us</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Local Places</h6>
          <p class="justify-content-lg-center-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
              <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
            </svg>103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam</p>
          <p><i class="fas fa-phone me-3"></i> Tel.: 84-236-3847 333/888 </p>
          <p><i class="fas fa-print me-3"></i> Fax: 84-236-3847 666</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Book Store Da Nang</a>
  </div>
  <!-- Copyright -->
</footer>
